<%- include("partials/header")%>

<%- include("partials/nav")%>

<!-- 

<div class="container d-flex justify-content-center align-items-center mt-5">
    <h1 class="text-center fw-bold">Welcome to Book Haven: <p >Your Ultimate Destination for All Things Books!</p>
    </h1>
</div> -->

   <!-- Main Content -->
   <div class="container mt-2">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Welcome to <span class="text-danger">Book Haven</span></h1>
            <p class="lead fw-bold">Your Ultimate Destination for All Things Books!</p>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-4">
            <img src="https://plus.unsplash.com/premium_photo-1675889721720-d6b791cdf4db?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3N0b3JlfGVufDB8fDB8fHww"
             class="img-fluid" alt="Books">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 fs-5">
            <p class="fst-normal">
                At Book Haven, we believe in the transformative power of books. Whether you're looking for the latest bestsellers,
                classic literature, or rare finds, our extensive library caters to every reader's taste. Join us in exploring
                new worlds, uncovering timeless wisdom, and embarking on countless adventures through the pages of our diverse
                collection.
            </p>
            <p class="fst-italic">
                Our mission is to create a welcoming and inspiring environment for book lovers. From cozy reading nooks to
                engaging events and author signings, we offer a space where you can immerse yourself in the joy of reading.
                Visit us today and discover why Book Haven is the ultimate destination for all things books!
            </p>
        </div>
    </div>
</div>


<%- include("partials/footer")%>